# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio

# BetterAuth
BETTER_AUTH_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Whitelist admin (ton GitHub user ID)
ADMIN_GITHUB_ID=

# Dev auth bypass (set to "true" to skip auth in development)
ALLOW_DEV_AUTH_BYPASS=false

# Resend
RESEND_API_KEY=

# Vercel Blob storage
BLOB_READ_WRITE_TOKEN=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
