@import "tailwindcss";

:root {
  --primary-background: #f5f5f4;
  --secondary-background: #e7e5e4;

  --primary: #111827;
  --primary-foreground: #0b0b0b;

  --secondary: #4b5563;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --primary-background: #020617;
    --secondary-background: rgba(15, 23, 42, 0.85);

    --primary: #e5e7eb;
    --primary-foreground: #f9fafb;

    --secondary: #9ca3af;

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
  }
}

@theme inline {
  --color-primary-background: var(--primary-background);
  --color-secondary-background: var(--secondary-background);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
}

body {
  background: var(--color-primary-background);
  color: var(--color-primary-foreground);
  font-family:
    var(--font-geist-sans), var(--font-geist-mono), Arial, Helvetica, sans-serif;
}
